/* 
main color
*/


/* -------------GLOBAL------------- */
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'cardo', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
}

.container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "for-pc main-content"
        "for-pc main-content"
        "for-pc footer";
    background-color: #f3f3f3;
}

/* -------------FOR DESKTOP DISPLAY------------- */


.for-pc {
    height: 100vh;
    top: 0;
    align-self: start ;
    position: sticky;
    grid-area: for-pc;
    background-image: url(assets/KRISNA\ DAN\ ADIT-44.JPG);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* or center */
    padding: 2rem;
    margin-right: 1rem;
    filter: grayscale();
}

.pc-header {
    margin: 2rem 0;
    padding-top: 75vh;
    padding-left: 4rem;
}

/* -------------MAIN CONTENT------------- */

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-areas: 
    "hero-section"
    "page1"
    "page2"
    "galery-header"
    "galery-content";
    overflow-y: auto; /* allows scrolling */
    margin-left: 2px;
    margin-right: 4px;
}

.hero-section {
    grid-area: hero-section;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hero-img {
    width: 300px;
    display: block;
    margin: 0 auto 1rem;
    padding-top: 25rem;
}
.hero-doa {
    max-width:75% ;
    margin: 0.5rem auto;
    text-align: center;
}

.hero-name {
    max-width: 95%;
    margin:3rem;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;       /* allows wrapping on small screens */
    justify-content: space-between;
    gap: 1.5rem;           /* space between the names */
}
.hero-date {
    text-align: center;
    margin-left: 5vw;
    margin-right: auto;
    padding-left: 120px;
    margin-bottom: 5rem;  
}
.recipient h6{
    margin: 2rem ;
    margin-bottom: 2rem;
    font-size: 1rem;
}
.hero-section p {
    margin: 1rem 0rem;
    font-size: 1rem;
}
/* -------------PAGE------------- */
.page-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.625rem;

}


/* -------------PAGE1------------- */
.page1-pic {
    width: clamp(120px, 25vw, 150px);
}
.page1-pic-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto 1rem;
    padding-top: 0rem;
    max-width: 100vw; /* optional, keeps things centered nicely */
}
.story-container {
  display: flex;
  flex-direction: column;
  text-align: justify;   /* centers the text inside each <p> */
  width: 400px;
  font-size: 0.6rem;
  margin: 0 auto;       /* centers the whole block horizontally */
}

.story-container p {
  margin-bottom: 1rem;
}

/* -------------PAGE2------------- */
/* -------------GALERY HEADER------------- */
/* -------------GALERY CONTENT------------- */


/* -------------FOOTER------------- */

.footer {
    grid-area: footer;
    padding: 1rem;
    background: #f5f5f5;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
}

@media(max-width: 1000px){
    .for-pc{
        display: none;
    }
    .container{
        grid-template-columns: 1fr;
        grid-template-areas:
        "main-content"
        "footer" ;
    }
}
@media(max-width: 430px) {
    .hero-name {
        flex-direction: column;  /* stack vertically on very small screens */
        gap: 0.5rem;
    }
    .hero-name p {
        font-size: 1.125rem; /* scale down */
    }
    .hero-date {
        margin: 2rem 0 4rem;
        padding: 0;
    }
}